@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--font-inter: "Inter", sans-serif;
	--color-subtitle: #929292;
	--spacing-padding: 20%;
	--spacing-sm-padding: 4%;
	--spacing-md-padding: 7%;
	--color-tertiary: #8a8f98;

	--breakpoint-lg: 75rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground !mt-20 font-inter overflow-x-hidden md:!px-padding max-md:!px-md-padding max-sm:!px-md-padding !pt-0;
	}

	body {
		--sb-track-color: transparent;
		--sb-thumb-color: #c1c1c1;
		--sb-size: 6px;
	}

	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 6px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 6px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
}
@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-color-fd-card: var(----color-fd-card);
	--color-color-fd-background: var(----color-fd-background);
	--color-hu-ring: var(----hu-ring);
	--color-hu-input: var(----hu-input);
	--color-hu-border: var(----hu-border);
	--color-hu-destructive-foreground: var(----hu-destructive-foreground);
	--color-hu-destructive: var(----hu-destructive);
	--color-hu-accent-foreground: var(----hu-accent-foreground);
	--color-hu-accent: var(----hu-accent);
	--color-hu-muted-foreground: var(----hu-muted-foreground);
	--color-hu-muted: var(----hu-muted);
	--color-hu-secondary-foreground: var(----hu-secondary-foreground);
	--color-hu-secondary: var(----hu-secondary);
	--color-hu-primary-foreground: var(----hu-primary-foreground);
	--color-hu-primary: var(----hu-primary);
	--color-hu-card-foreground: var(----hu-card-foreground);
	--color-hu-card: var(----hu-card);
	--color-hu-foreground: var(----hu-foreground);
	--color-hu-background: var(----hu-background);
	--card-radius: var(----card-radius);
	--radius: var(----radius);
	--hu-font-jetbrains: var(----hu-font-jetbrains);
	--hu-font-geist: var(----hu-font-geist);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: #e4e4e4;
	--primary-foreground: #e4e4e4;
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
	--subtitle: #929292;
	--hu-font-geist: var(--font-geist);
	--hu-font-jetbrains: var(--font-jetbrains-mono);
	--card-radius: 1rem;
	--hu-background: hsl(0, 0%, 100%);
	--hu-foreground: hsl(0, 0%, 14%);
	--hu-card: hsl(0, 0%, 99%);
	--hu-card-foreground: hsl(0, 0%, 14%);
	--hu-primary: hsl(235, 100%, 60%);
	--hu-primary-foreground: hsl(0, 0%, 98%);
	--hu-secondary: hsl(0, 0%, 97%);
	--hu-secondary-foreground: hsl(0, 0%, 20%);
	--hu-muted: hsl(0, 0%, 97%);
	--hu-muted-foreground: hsl(0, 0%, 56%);
	--hu-accent: hsl(0, 0%, 96%);
	--hu-accent-foreground: hsl(0, 0%, 20%);
	--hu-destructive: hsl(9, 96%, 47%);
	--hu-destructive-foreground: hsl(0, 0%, 98%);
	--hu-border: hsl(0, 0%, 92%);
	--hu-input: hsl(0, 0%, 100%);
	--hu-ring: hsl(0, 0%, 71%);
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-background));
}

.dark {
	--color-text-tertiary: #8a8f98;

	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
	--hu-background: hsl(0, 0%, 7%);
	--hu-foreground: hsl(0, 0%, 100%);
	--hu-card: hsl(0, 0%, 9%);
	--hu-card-foreground: hsl(0, 0%, 100%);
	--hu-primary: hsl(235, 100%, 60%);
	--hu-primary-foreground: hsl(0, 0%, 98%);
	--hu-secondary: hsl(0, 0%, 15%);
	--hu-secondary-foreground: hsl(0, 0%, 100%);
	--hu-muted: hsl(0, 0%, 15%);
	--hu-muted-foreground: hsl(0, 0%, 71%);
	--hu-accent: hsl(0, 0%, 15%);
	--hu-accent-foreground: hsl(0, 0%, 100%);
	--hu-destructive: hsl(0, 84%, 50%);
	--hu-destructive-foreground: hsl(0, 0%, 98%);
	--hu-border: 0, 0%, 100%, 10%;
	--hu-input: 0, 0%, 100%, 5%;
	--hu-ring: hsl(0, 0%, 56%);
	--color-fd-background: hsl(var(--hu-background));
	--color-fd-card: hsl(var(--hu-background));
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
